# --- Entornos virtuales ---
venv/
.venv/
env/
virtualenv/

# --- Archivos de caché de Python ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# --- Configuración de Editores---
.vscode/
.idea/
*.swp
*.swo

# --- Archivos del Sistema Operativo ---
.DS_Store
Thumbs.db
desktop.ini

# --- Multimedia y temporales---
assets/*.mp4
assets/*.mp3